<p>
  <%= @post.id %> 번째 게시글</p>
<p>제목 :
  <%= @post.title %>
</p>
<p>내용 :
   <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> 
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', posts_path %>
